body {
	margin: 0;
}

/* Typography */

.text-base {
	font-size: 1rem;
}

.text-large {
	font-size: 1.25rem;
}

.text-2xl {
	font-size: 1.5rem;
}

.text-3xl {
	font-size: 1.75rem;
}

.text-4xl {
	font-size: 2rem;
}

/* Colors */
.bg-pure-white {
	background: #fff;
}

.bg-red {
	background: red;
}

.text-primary {
	color: #2b2b2b;
}

.text-secondary {
	color: hotpink;
}
